body {
    font-family:Geneva, Arial;
    font-size: 1em;
    color: #031D3F;
    padding: 20px;
    background-image: url("img/bg.png");
    background-repeat: repeat;
    background-color: white;
}

h1,h2 {
    text-align: center;
}

div.hiddenAll {
    visibility: hidden;
}

img.hiddenpackage_front,
img.hiddenpackage_back,
img.hiddenpackage_alt_front,
img.hiddenpackage_alt_back {
    width: 0px;
    height: 0px;
}

content.table {
    border: 1px solid #031D3F;
    background: #E3E3E5;
    height: 420px;
}

content.table td {
    font-size: 12px;
    width: 175px;
}

.links {
    text-align: center;
}

.fileList {
    width: 175px;
    max-height: 175px;
    overflow: auto;
}

.dirList {
    min-height: 256px;
    overflow: auto;
    max-height: 512px;
    width: 600px;
}

.bottom20 {
    padding-bottom: 20px;
}

.ralign {
    text-align: right;
}

.hr45 {
    width: 45%;
    color: #F8F8F8;
}

.mission {
    text-align: center;
}

.mission p {
    max-width: 50%;
    display: inline-block;
}

.entriesContainer {
    padding-bottom: 20px;
    text-align: center;
}

.homeScreen {
    text-align: center;
}

.homeScreen img {
    max-height: 240px;
}

.entries {
    font-weight: bold;
}

#topContainer,
#centerContainer,
#interstitialContainer,
#bottomContainer {
    text-align: center;
    padding-top: 5px;
}

#navContainer,
#contentBodyContainer,
#interstitialImageContainer,
#bottomContainerInner {
    display: inline-block;
}

#nav {
    background: #E3E3E5;
    text-align: left;
    border-collapse: collapse;
}

#nav tr {
    background: #E3E3E5;
}

#nav td {
    vertical-align: top;
}

#nav > tbody:nth-child(1) > tr:nth-child(1),
#nav > tbody:nth-child(1) > tr:nth-child(2) > td:nth-child(1) {
    background: #003366;
    color: white;
}

#nav > tbody:nth-child(1) > tr:nth-child(2) > td:nth-child(2) a:link {
    color: #FFFFCC;
}

#nav > tbody:nth-child(1) > tr:nth-child(2) > td:nth-child(2) a:hover{
    color: white;
}

#nav > tbody:nth-child(1) > tr:nth-child(2) > td:nth-child(2) {
    background-color: #6699CC;
}

#nav > tbody:nth-child(1) > tr:nth-child(3) > td:nth-child(1) {
    vertical-align: middle;
    text-align: center;
    background-color: #333399;
    color: white;
}

#nav > tbody:nth-child(1) > tr:nth-child(2) > td:nth-child(3) a:link {
    color: #003366;
}

#nav > tbody:nth-child(1) > tr:nth-child(2) > td:nth-child(3) a:hover {
     color: #6699CC;
}

#constructPreface {
    padding-bottom: 50px;
}

#contentBody {
    text-align: left;
    border-collapse: collapse;
    max-width: 605px;
}

#contentBody tr {
    background: #FFCC66;
}

#nav td,
#contentBody td{
    min-width: 100px;
    padding: 10px;
}

#contentBody > tbody:nth-child(1) > tr:nth-child(2) > td:nth-child(2) {
    background: white;
}

#contentBody > tbody:nth-child(1) > tr:nth-child(1) > td:nth-child(1) {
    font-weight: bold;
}

#bottomDivider {
    background-color: #660066;
    min-width: 605px;
    border-collapse: collapse;
    font-size: 0.9em;
    text-align: left;
}

#bottomDivider > tbody:nth-child(1) > tr:nth-child(2) > td:nth-child(2) {
    min-width: 50%;
    background-color: white;
}

#bottomDivider > tbody:nth-child(1) > tr:nth-child(1) > td:nth-child(1) {
    line-height: 1px;
}

#bottomDivider > tbody:nth-child(1) > tr:nth-child(2) > td:nth-child(1) {
    padding-left: 10px;
    color: white;
}

#footerContainer {
    font-size: 11px;
    text-align: center;
}

#footerContainerInner {
    display: inline-block;
}

#footer {
    max-width: 605px;
}

#footer > tbody:nth-child(1) > tr:nth-child(1) > td:nth-child(1) {
    text-align: right;
}

#footer > tbody:nth-child(1) > tr:nth-child(1) > td:nth-child(2)  {
    text-align: left;
}

ul {
  list-style-position: inside;
  padding-left: 0;
}

li {
    padding-bottom: 5px;
}

a:link {
    color: #003366;
}

a:hover {
     color: #6699CC;
}