<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
    <title>My Timeline</title>
    <link href="css/main.css" rel="stylesheet">
</head>
<body>
    <div>
        <div style="float: right;">
            <table>
                <caption>Table Caption</caption>
                <tbody>
                    <tr>
                        <td colspan="2">
                            <img src="30/aol-30-62596-disc.png" width="100px" />
                        </td>
                    </tr>
                    <tr>
                        <td>Version</td>
                        <td>3.0</td>
                    </tr>
                    <tr>
                        <td>Software Date</td>
                        <td>06/25/96</td>
                    </tr>
                    <tr>
                        <td>Free Hours</td>
                        <td>15</td>
                    </tr>
                    <tr>
                        <td>Format</td>
                        <td>3.5" Floppy</td>
                    </tr>
                    <tr>
                        <td>Os</td>
                        <td>Windows</td>
                    </tr>
                    <tr>
                        <td>Packaging</td>
                        <td>Card Stock Fold-out With Seat</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div>
            <h3>Description</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla tortor nibh, fringilla in dui ac, lacinia fermentum nunc. Etiam sed semper risus. Nullam vel magna id velit interdum pellentesque. Maecenas finibus mattis pulvinar. Donec viverra ex vitae diam mattis, at bibendum sapien dapibus. Vivamus quis ex finibus, volutpat risus vitae, vehicula orci. Aenean eleifend, tortor ac efficitur cursus, quam lectus congue dolor, at vulputate massa purus blandit urna. Curabitur in eros imperdiet, consequat turpis nec, maximus lectus.</p>
            <hr/>
            <h3>File Details</h3>
            <div>
                <pre>Date        Time        Type       Size Name</pre>
                <pre>02/19/1997  10:02 AM    &ltDIR&gt          AOL31
02/19/1997  10:06 AM    &ltDIR&gt          AOL95
02/19/1997  10:01 AM                27 AUTORUN.INF
02/19/1997  10:02 AM             4,352 SETUP.EXE<br>
               2 File(s)          4,379 bytes
               2 Dir(s)               0 bytes free</pre>
            </div>
            <hr/>
            <h3>Additional Imagery</h3>
            <div>
                <img src="30/aol-30-62596-p-front.png" height="400px"/>
                <img src="30/aol-30-62596-p-back.png" height="400px"/>
            </div>
        </div>
    </div>
</body>